<div>
  <button (click)="get400Error()" class="btn btn-outline-primary me-3">
    Test 400 error
  </button>
  <button (click)="get401Error()" class="btn btn-outline-primary me-3">
    Test 401 error
  </button>
  <button (click)="get404Error()" class="btn btn-outline-primary me-3">
    Test 404 error
  </button>
  <button (click)="get500Error()" class="btn btn-outline-primary me-3">
    Test 500 error
  </button>
  <button
    (click)="get400ValidationError()"
    class="btn btn-outline-primary me-3"
  >
    Test 400 validation error
  </button>

  @if (validationErrors.length > 0) {
    <div class="row mt-5">
      <ul class="text-danger">
        @for (error of validationErrors; track $index) {
          <li>{{ error }}</li>
        }
      </ul>
    </div>
  }
</div>
